<!-- <app-header></app-header> -->

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top  header-transparent ">

  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <!-- <h1><a routerLink="/inicio"><strong>UGA</strong></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html"><img src="./assets/img/LOGOWEB.png" alt="" class="img-fluid"></a>
    </div>

      <nav id="navbar" class="navbar">

        <ul>
          @if (loggedIn) {
            <li><a class="nav-link scrollto active text-white" href="#hero" [routerLink]="'/admin'">Admin</a></li>
            <li><a class="nav-link scrollto" href="#pricing" [routerLink]="'.'">Salir</a></li>
            <!-- <li><a class="nav-link scrollto" href="#features" [routerLink]="'.'">Admin</a></li> -->
            <li><a class="getstarted scrollto" href="#features" [routerLink]="'.'">Llenar Formulario</a></li>


          }@else {
            <!-- <li><a class="nav-link scrollto" href="#gallery" [routerLink]="'.'">Gallery</a></li> -->
          <li><a class="nav-link scrollto" href="#features" [routerLink]="'.'">Acerca</a></li>
          <li><a class="nav-link scrollto" href="#" routerLink="/login" (click)="visible()">Registro</a></li>
          <!-- <li><a class="nav-link scrollto" href="#faq" [routerLink]="'.'">Registro</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="#contact" [routerLink]="'.'">Contactar</a></li>

          }

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  





<!-- @if (visibleS) { -->
  <!-- <app-inicio></app-inicio> -->

<!-- }@else { -->
  <!-- <app-login></app-login> -->
<!-- } -->









<router-outlet></router-outlet>
