<div class="sidebar">
        <div class="logo-content">
            <div class="logo">
                <!-- <i class='bx bxl-google'></i> -->
                <!-- <i class="fab fa-google"></i>
                <div class="logo-name">mail</div> -->
                <!-- <img class="img-logo" src="/img/logo-gmail.png" alt="">               -->
            </div>
            <!-- <i class='bx bx-menu' id="btn"></i> -->
            <!-- <i class="fas fa-bars" id="btn"></i> -->
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav-list">

            <li>
                <i class='bx bx-home-alt-2' onclick="btnRedactar()"></i>
                <!-- <i class='bx bx-search' ></i> -->
               <button class="btn btn-redactar" onclick="btnRedactar()">Home</button>
                 <span class="tooltip">Home</span>
             </li>

            <li>
                <a Class="cursor-acti" (click)="mostrar()">
                    <!-- <i class='bx bx-chat' ></i> -->
                    <i class="bx bx-user"></i>
                    <span  class="links-name " >Usuarios</span>
                </a>
                <span class="tooltip">Usuarios</span>
            </li>
            <li>
                <a href="#" onclick="msjEnviados()">
                    <!-- <i class='bx bx-send'></i> -->
                    <i class="bx bx-alarm"></i>
                    <span class="links-name">Pendientes</span>
                </a>
                <span class="tooltip">Pendientes</span>
            </li>
            <li>
                <a href="#" onclick="msjDestacados()">
                    <!-- <i class='bx bx-star'></i> -->
                    <i class="bx bx-analyse"></i>
                    <span class="links-name">Recibida</span>
                </a>
                <span class="tooltip">Recibidas</span>
            </li>
            <li>
                <a href="#" onclick="msjSpan()">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span class="links-name">Span</span>
                </a>
                <span class="tooltip">Span</span>
            </li>
            <li>
                <a href="#" onclick="msjPapelera()">
                    <i class='bx bx-trash'></i>
                    <!-- <i class="far fa-trash-alt"></i> -->
                    <span class="links-name">Papelera</span>
                </a>
                <span class="tooltip">Papelera</span>
            </li>
        </ul>
        <div class="profile-content">
            <div class="profile">
                <div class="profile-details">
                    <img src="/img/profile.jpeg" alt="">
                    <div class="name-job">
                        <div class="name">Mou Grind</div>
                        <div class="job">Web Designer</div>
                    </div>
                </div>
                <i class="fas fa-sign-in-alt" id="log-out"></i>
            </div>
        </div>
</div>

    <div class="home-content pt-5 mr-2">
      <!-- <div class="text">Home Content</div> -->

        <!-- <h1>A un minuto de ti</h1> -->
          <div class="contenedor">

            <!-- <p>Table is just a mapping of objects to table rows with <code>&#64;for</code></p> -->

            <div [ngClass]="{'visible':regionVisible == 'user', 'no-visible':regionVisible != 'user'}">
              <div>
                <app-user></app-user>
              </div>
            </div>






          </div>


  </div>
