
<div class="container pdt">
  <div class="row row-cols-1 row-cols-md-5 g-4">

      <!-- 1 -->
      <div class="col">
          <div class="card w-75 mb-3" style="max-width: 540px;">
              <div class="row g-0">
                  <div class="col-md-4">
                      <img src="/GAMBelleza.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                        <div class="form-control">
                          <label for="validationCustom01" class="form-label">1. NOMBRE DEL APODERADO LEGAL</label>
                          <input type="text" class="form-control" id="validationCustom01" value="" placeholder="Apoderado" required>

                        </div>



                          <a href="#">
                              <h5 class="card-title">Card title</h5>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!-- 2 -->
      <div class="col">
          <div class="card mb-3" style="max-width: 540px;">
              <div class="row g-0">
                  <div class="col-md-4">
                      <img src="/GAMBelleza.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                      <div class="card-body">
                          <a href="#">
                              <h5 class="card-title">Card title</h5>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
</div>
