
.apo-p{
  /* padding-left: 30px; */
  margin-bottom: 5px;
}
.dni-p{
  padding-left: 74px;
  margin-bottom: 5px;
  /* width: 16%;
  height: 42px;
  text-align: center; */

}
.sol-p{
  padding-left: 22px;
  margin-bottom: 5px;

}
.pro-p{
  padding-left: 35px;
  margin-bottom: 5px;

}
.correo-p{
  padding-left: 49px;
  margin-bottom: 5px;
}
.tel-p{
  padding-left: 37px;
  margin-bottom: 5px;
}
.des-p{
  padding-left: 14px;
  margin-bottom: 5px;
}
.sec-p{
  padding-left: 53px;
  margin-bottom: 5px;

}
.subsec-p{
  padding-left: 24px;
  margin-bottom: 5px;
}
.act-p{
  padding-left: 28px;
  margin-bottom: 5px;
}
.unidad-p{
  padding-left: 45px;
  margin-bottom: 5px;
}
.cat-p{
  padding-left: 23px;
  margin-bottom: 5px;
}
.unis-p{
  padding-left: 29px;
  margin-bottom: 5px;
}
.obs-p{
  padding-left: 5px;
  margin-bottom: 5px;
}


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* .dni-p{
    width: 37%;
    height: 42px;
    text-align: center;
} */

 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

 }
