<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Apoderado</th>
      <th scope="col">Solicitante</th>
      <th scope="col">Sector</th>
      <th scope="col">Subsector</th>
      <th scope="col">Actividad</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (sol of Solicitud; track sol._id; let i = $index) {
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ sol.Apoderado }}</td>
        <td>{{ sol.Solicitante }}</td>
        <td>{{ sol.Sector }}</td>
        <td>{{ sol.SubSector }}</td>
        <td>{{ sol.Actividad }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="verSolicitud(sol._id)">Ver</button>
        </td>
      </tr>
    }
  </tbody>
</table>
