<!-- <section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>

              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">Email</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

              <div class="d-flex justify-content-center text-center mt-4 pt-1">
                <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
              </div>

            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="gradient-custom">
  <div class="container pt-1 auth ">
    <div class="row">
      <div class="section pt-5 ">
        <div class="container">
          <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-selft-center py-5">
              <div class="section pb-5 pt5 pt-sm-2 text-center">
                <!-- <h6 class="mb-0 pb-3"><span class="init-sec">Iniciar Sesión</span><span>Registrate</span></h6> -->
                <input type="checkbox" class="checkbox" id="reg-log" name="reg-log">
                <label for="reg-log"></label>
                <div class="card-3d-wrap mx-auto">
                  <div class="card-3d-wrapper">
                    <div class="card-front">
                      <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="mb-4 pb-3 text-login">Iniciar Sesión</h4>
                          <!-- <form [formGroup]='formLoginUsers'> -->
                          <form>
                            <div class="form-group">
                              <input formControlName="email" name="email" type="email" class="form-style"
                                placeholder="Ingresa tu Email" autocomplete="none">

                              <!-- <button [disabled]="!formLoginUsers.valid">Continuar</button> -->
                            </div>
                            <div class="form-group mt-2">
                              <input formControlName="password" name="password" type="password" class="form-style"
                                placeholder="Ingresa tu Contraseña" autocomplete="none">
                              <i class="input-icon uil uil-lock-alt"></i>
                            </div>
                          </form>
                          <button href="#" class="btn mt-4" (click)="login()">Login</button>
                          <p class="mb-0 mt-4 text-center">
                            <a href="#0" class="link text-black">Olvidaste tu Contraseña?</a>
                          </p>

                        </div>
                      </div>
                    </div>

                    <div class="card-back">
                      <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="mb-4 pb-0 text-login"> Registrate </h4>
                          <form>
                            <!-- <form [formGroup]='formRegistroUsers'> -->
                            <div class="form-group">
                              <input formControlName="nombre" name="nombre" type="text" class="form-style"
                                placeholder="Nombre Completo" autocomplete="none">
                              <i class="input-icon uil uil-user"></i>
                            </div>

                            <!-- <div class="form-group  mt-2">
                              <input formControlName="apellido" name="apellido" type="text" class="form-style"
                                placeholder="apellido" autocomplete="none">
                              <i class="input-icon uil uil-user"></i>
                            </div> -->

                            <div class="form-group mt-2">
                              <input formControlName="email" name="email" type="email" class="form-style"
                                placeholder="email" autocomplete="none">

                            </div>

                            <div class="form-group mt-2">
                              <input formControlName="password" name="password" type="password" class="form-style"
                                placeholder="Contraseña" autocomplete="none">
                              <i class="input-icon uil uil-lock-alt"></i>
                            </div>
                            <div class="form-group mt-2">
                              <input formControlName="confir_password" name="confir_password" type="password"
                                class="form-style" placeholder="confirmar Contraseña" autocomplete="none">
                              <i class="input-icon uil uil-lock-alt"></i>
                            </div>
                          </form>
                          <button href="#" class="btn mt-3" (click)="signup()">Registrate</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<app-footer></app-footer>
